################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MWS/Application/MwsSimulation/bin
/MWS/Application/MwsSimulation/obj
/MWS/CommonDialog/PrintPreview/obj
/MWS/CommonDialog/Progress/obj
/MWS/MwsLib/bin
/MWS/MwsLib/obj
/MWS/Util/MwsServiceFrequency
*.sln
/MWS/Tool/EntryFinishedUser/bin/Debug
/MWS/Tool/EntryFinishedUser/obj/Debug
/MWS/Tool/MwsServiceFrequency/Doc/palette_使用頻度
/MWS/Tool/MwsServiceFrequency/obj
/MWS/Tool/MakeMwsSimulationDB/bin
/MWS/Tool/MakeMwsSimulationDB/obj
/MWS/Tool/MwsServiceFrequency/bin
/MWS/Tool/MwsServiceFrequency/Doc/ユーザー情報.sql
/MWS/DevelopmentKit/DataGridViewAutoFilter/DataGridViewAutoFilter.zip
/MWS/DevelopmentKit/DataGridViewAutoFilter/UpgradeLog.htm
/MWS/DevelopmentKit/DataGridViewAutoFilter/ProgrammaticSetupDemo
/MWS/DevelopmentKit/DataGridViewAutoFilter/DataGridViewAutoFilter
/MWS/DevelopmentKit/DataGridViewAutoFilter/DesignerSetupDemo
/MWS/DevelopmentKit/DataGridViewAutoFilter/Backup
/MWS/Application/MwsSimulation2/Doc/WonderWeb
/MWS/Application/MwsSimulation2/Doc/MwsSimulationMaster - コピー.db
/MWS/Application/MwsSimulation2/Doc/サービス利用料に対する無償利用期間の金額.xlsx
/MWS/Application/MwsSimulation2/Doc/注文書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/Doc/注文請書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/Doc/見積書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/obj
/MWS/Application/MwsSimulation2/publish
/MWS/Application/MwsSimulation2/publish.htm
/MWS/Application/MwsSimulation2/MwsSimulation.application
/MWS/Application/MwsSimulation2/bin
/MWS/Tool/PcSafetySupport/bin/Debug
/MWS/Tool/PcSafetySupport/obj
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/org仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/CalcBusinessConsignCommission.vshost.exe.manifest
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.csproj.FileListAbsolute.txt
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.MainForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.ManagementForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.PcSupportControlForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Properties.Resources.resources
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/StartMailTemplate.txt
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/BaseFactory/PcSupportControlSendMail.cs
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSupportTool/bin/Debug/PcSupportTool.vshost.exe.manifest
/MWS/Tool/PcSupportTool/bin/Debug/PcSupportTool.vshost.exe.config
/MWS/Tool/PcSupportTool/bin/Debug/System.Net.Http.xml
/MWS/Tool/PcSupportManager/bin/Debug/System.Net.Http.xml
/MWS/Tool/PcSupportManager/bin/Debug/PcSupportManager.vshost.exe.config
/MWS/Tool/PcSupportManager/bin/Debug/PcSupportManager.vshost.exe.manifest
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.csproj.FileListAbsolute.txt
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.MainForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.ManagementForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.PcSupportControlForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Properties.Resources.resources
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.SendMailForm.resources
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/修正後-PCA仕入データ201812141173800.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/修正後-PCA仕入データ201812141173800 - コピー.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCA売上データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCA仕入データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181105/仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCAインポート/修正後-PCA仕入データ201812141173800.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181105/org仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/PCA売上データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/PCA仕入データ20181201023103.csv
/MWS/_TOOL/System.Net.Http.xml
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCAインポート/修正後-PCA仕入データ201812141173800 - コピー.csv
