################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MWS/Application/MwsSimulation/bin
/MWS/Application/MwsSimulation/obj
/MWS/CommonDialog/PrintPreview/obj
/MWS/CommonDialog/Progress/obj
/MWS/MwsLib/bin
/MWS/MwsLib/obj
/MWS/Util/MwsServiceFrequency
*.sln
/MWS/Tool/EntryFinishedUser/bin/Debug
/MWS/Tool/EntryFinishedUser/obj/Debug
/MWS/Tool/MwsServiceFrequency/Doc/palette_使用頻度
/MWS/Tool/MwsServiceFrequency/obj
/MWS/Tool/MakeMwsSimulationDB/bin
/MWS/Tool/MakeMwsSimulationDB/obj
/MWS/Tool/MwsServiceFrequency/bin
/MWS/Tool/MwsServiceFrequency/Doc/ユーザー情報.sql
/MWS/DevelopmentKit/DataGridViewAutoFilter/DataGridViewAutoFilter.zip
/MWS/DevelopmentKit/DataGridViewAutoFilter/UpgradeLog.htm
/MWS/DevelopmentKit/DataGridViewAutoFilter/ProgrammaticSetupDemo
/MWS/DevelopmentKit/DataGridViewAutoFilter/DataGridViewAutoFilter
/MWS/DevelopmentKit/DataGridViewAutoFilter/DesignerSetupDemo
/MWS/DevelopmentKit/DataGridViewAutoFilter/Backup
/MWS/Application/MwsSimulation2/Doc/WonderWeb
/MWS/Application/MwsSimulation2/Doc/MwsSimulationMaster - コピー.db
/MWS/Application/MwsSimulation2/Doc/サービス利用料に対する無償利用期間の金額.xlsx
/MWS/Application/MwsSimulation2/Doc/注文書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/Doc/注文請書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/Doc/見積書-MIC歯科医院.pdf
/MWS/Application/MwsSimulation2/obj
/MWS/Application/MwsSimulation2/publish
/MWS/Application/MwsSimulation2/publish.htm
/MWS/Application/MwsSimulation2/MwsSimulation.application
/MWS/Application/MwsSimulation2/bin
/MWS/Tool/PcSafetySupport/bin/Debug
/MWS/Tool/PcSafetySupport/obj
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/org仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/CalcBusinessConsignCommission.vshost.exe.manifest
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.csproj.FileListAbsolute.txt
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.MainForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.ManagementForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Forms.PcSupportControlForm.resources
/MWS/Tool/PcSupportTool/obj/Debug/PcSupportTool.Properties.Resources.resources
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Tool/PcSupportTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/StartMailTemplate.txt
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/BaseFactory/PcSupportControlSendMail.cs
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSafetySupport/bin/Release/PcSafetySupport.exe.config
/MWS/Tool/PcSupportTool/bin/Debug/PcSupportTool.vshost.exe.manifest
/MWS/Tool/PcSupportTool/bin/Debug/PcSupportTool.vshost.exe.config
/MWS/Tool/PcSupportTool/bin/Debug/System.Net.Http.xml
/MWS/Tool/PcSupportManager/bin/Debug/System.Net.Http.xml
/MWS/Tool/PcSupportManager/bin/Debug/PcSupportManager.vshost.exe.config
/MWS/Tool/PcSupportManager/bin/Debug/PcSupportManager.vshost.exe.manifest
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.csproj.FileListAbsolute.txt
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.MainForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.ManagementForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.PcSupportControlForm.resources
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Properties.Resources.resources
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Tool/PcSupportManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Tool/PcSupportManager/obj/Debug/PcSupportManager.Forms.SendMailForm.resources
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/修正後-PCA仕入データ201812141173800.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/修正後-PCA仕入データ201812141173800 - コピー.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCA売上データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCA仕入データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181105/仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCAインポート/修正後-PCA仕入データ201812141173800.csv
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181105/org仕入データ-修正後.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/PCA売上データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/PCA仕入データ20181201023103.csv
/MWS/_TOOL/System.Net.Http.xml
/MWS/Tool/CalcBusinessConsignCommission/DOC/20181213/PCAインポート/修正後-PCA仕入データ201812141173800 - コピー.csv
/MWS/Tool/PcSupportManager/Doc/メール送信スケジュール.txt
/MWS/Tool/PcSupportManager/obj/Debug/build.force
/MWS/Tool/UpdateApplyTypeMatome/bin/Debug/MicHolidaySettings.xml
/MWS/Tool/UpdateApplyTypeMatome/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Tool/UpdateApplyTypeMatome/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Tool/UpdateApplyTypeMatome/bin/Release/UpdateApplyTypeMatome.exe.config
/MWS/Tool/UpdateApplyTypeMatome/bin/Release/System.Net.Http.xml
/MWS/Tool/UpdateApplyTypeMatome/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Tool/UpdateApplyTypeMatome/obj/Debug/UpdateApplyTypeMatome.csproj.FileListAbsolute.txt
/MWS/Tool/UpdateApplyTypeMatome/obj/Release/UpdateApplyTypeMatome.csproj.FileListAbsolute.txt
/MWS/Tool/UpdateApplyTypeMatome/bin/Debug/UpdateApplyTypeMatome.vshost.exe.config
/MWS/Tool/UpdateApplyTypeMatome/bin/Debug/UpdateApplyTypeMatome.exe.config
/MWS/Tool/UpdateApplyTypeMatome/bin/Debug/System.Net.Http.xml
/MWS/Tool/UpdateApplyTypeMatome/bin/Release/MicHolidaySettings.xml
/MWS/Application/MwsSimulation2/.vs/MwsSimulation2/v15/Server/sqlite3
/MWS/MwsLib/.vs/MwsLib/v15/Server/sqlite3
/MWS/Tool/DecylAnalysis/bin/Debug
/MWS/Tool/DecylAnalysis/obj/Debug
/MWS/Tool/NarcohmOrderCheck/.vs/NarcohmOrderCheck/v15/Server/sqlite3
/MWS/Tool/NarcohmOrderCheck/bin/Debug
/MWS/Tool/NarcohmOrderCheck/bin/Release
/MWS/Tool/NarcohmOrderCheck/obj
/MWS/Tool/PcSupportManager/.vs/PcSupportManager/v15/Server/sqlite3
/MWS/Tool/EntryFinishedUser/obj/Release/EntryFinishedUser.csproj.CopyComplete
/MWS/Tool/EntryFinishedUser/obj/Release/EntryFinishedUser.Forms.FinishedUserListForm.resources
/MWS/Tool/CalcBusinessConsignCommission/.vs/CalcBusinessConsignCommission/v15/Server/sqlite3/db.lock
/MWS/Tool/CalcBusinessConsignCommission/.vs/CalcBusinessConsignCommission/v15/Server/sqlite3/storage.ide
/MWS/Tool/CalcBusinessConsignCommission/.vs/CalcBusinessConsignCommission/v15/Server/sqlite3/storage.ide-shm
/MWS/Tool/CalcBusinessConsignCommission/.vs/CalcBusinessConsignCommission/v15/Server/sqlite3/storage.ide-wal
/MWS/Tool/CalcBusinessConsignCommission/bin/Debug/MicHolidaySettings.xml
/MWS/Tool/CalcBusinessConsignCommission/obj/Debug/CalcBusinessConsignCommission.csproj.CopyComplete
/MWS/Tool/CalcBusinessConsignCommission/work/PCA仕入データ.csv
/MWS/Tool/CalcBusinessConsignCommission/work/PCA仕入データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/work/PCA売上データ.csv
/MWS/Tool/CalcBusinessConsignCommission/work/PCA売上データ20181201023103.csv
/MWS/Tool/CalcBusinessConsignCommission/work/仕入データ-修正後.csv
/MWS/Tool/EntryFinishedUser/.vs/EntryFinishedUser/v15/Server/sqlite3/db.lock
/MWS/Tool/EntryFinishedUser/.vs/EntryFinishedUser/v15/Server/sqlite3/storage.ide
/MWS/Tool/EntryFinishedUser/bin/Release/MicHolidaySettings.xml
/MWS/Tool/MakeUsePcSupportTable/.vs/MakeUsePcSupportTable/v15/Server/sqlite3/db.lock
/MWS/Tool/MakeUsePcSupportTable/.vs/MakeUsePcSupportTable/v15/Server/sqlite3/storage.ide
/MWS/Tool/MakeUsePcSupportTable/.vs/MakeUsePcSupportTable/v15/Server/sqlite3
/MWS/Tool/MakeUsePcSupportTable/bin
/MWS/Tool/MakeUsePcSupportTable/obj
/MWS/Tool/ShipManage/.vs/ShipManage/v15/Server/sqlite3
/MWS/Tool/EntryFinishedUser/.vs/EntryFinishedUser/v15/Server/sqlite3
/MWS/Tool/ShipManage/obj/Debug
/MWS/Tool/ShipManage/bin/Debug
/MWS/Application/WonderWebMemo/.vs/WonderWebMemo/v15/Server/sqlite3/db.lock
/MWS/Application/WonderWebMemo/.vs/WonderWebMemo/v15/Server/sqlite3/storage.ide
/MWS/Application/WonderWebMemo/.vs/WonderWebMemo/v15/Server/sqlite3/storage.ide-shm
/MWS/Application/WonderWebMemo/.vs/WonderWebMemo/v15/Server/sqlite3/storage.ide-wal
/MWS/Application/WonderWebMemo/bin/Debug/MicHolidaySettings.xml
/MWS/Application/WonderWebMemo/bin/Debug/WonderWebMemo.db
/MWS/Application/WonderWebMemo/bin/Debug/WonderWebMemo.exe.config
/MWS/Application/WonderWebMemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MWS/Application/WonderWebMemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MWS/Application/WonderWebMemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MWS/Application/WonderWebMemo/obj/Debug/WonderWebMemo.csproj.CopyComplete
/MWS/Application/WonderWebMemo/obj/Debug/WonderWebMemo.csproj.FileListAbsolute.txt
/MWS/Application/WonderWebMemo/obj/Debug/WonderWebMemo.Forms.BankTransferForm.resources
/MWS/Application/WonderWebMemo/obj/Debug/WonderWebMemo.Forms.MainForm.resources
/MWS/Application/WonderWebMemo/obj/Debug/WonderWebMemo.Properties.Resources.resources
/MWS/Tool/ShipManage/Doc/出荷代行.xml
/MWS/Tool/ShipManage/Doc/MihShipManage.ini
/MWS/Application/MwsSimulation/.vs/MwsSimulation/v14
/MWS/Application/MwsSimulation/publish
/MWS/Application/MwsSimulation/setup.exe
/MWS/Application/MwsSimulation2/.vs
/MWS/Application/WonderWebMemo/.vs/WonderWebMemo
/MWS/Application/WonderWebMemo/bin/Debug
/MWS/Application/WonderWebMemo/obj/Debug
/MWS/CommonDialog/.vs/CommonDialog/v14
/MWS/CommonDialog/PrintPreview/.vs/PrintPreviewForm/v14
/MWS/CommonDialog/PrintPreview/bin
/MWS/Application/MwsSimulation2/setup.exe
/MWS/Application/MwsSimulation2/Doc/配布
/MWS/CommonDialog/Progress/.vs/Progress/v14
/MWS/CommonDialog/Progress/bin
/MWS/DevelopmentKit/DataGridViewAutoFilter/.vs/DataGridViewAutoFilter/v14
/MWS/MwsLib/.vs/MwsLib
/MWS/Tool/CalcBusinessConsignCommission/.vs/CalcBusinessConsignCommission
/MWS/Tool/CalcBusinessConsignCommission/bin
/MWS/Tool/CalcBusinessConsignCommission/obj/Debug
/MWS/Tool/DecylAnalysis/.vs/DecylAnalysis/v14
/MWS/Tool/EntryFinishedUser/.vs/EntryFinishedUser
/MWS/Tool/EntryFinishedUser/bin/Release
/MWS/Tool/EntryFinishedUser/obj/Release
/MWS/Tool/MakeMwsSimulationDB/.vs/MakeMwsSimulationDB/v14
/MWS/Tool/MakeUsePcSupportTable/.vs/MakeUsePcSupportTable/v15
/MWS/Tool/MwsServiceFrequency/.vs/MwsServiceFrequency/v14
/MWS/Tool/MwsServiceFrequency/packages/ClosedXML.0.93.1/lib
/MWS/Tool/MwsServiceFrequency/packages/DocumentFormat.OpenXml.2.8.1/lib
/MWS/Tool/MwsServiceFrequency/packages
/MWS/Tool/NarcohmOrderCheck/.vs
/MWS/Tool/PcSupportManager/.vs/PcSupportManager
/MWS/Tool/PcSupportManager/bin
/MWS/Tool/PcSupportManager/obj
/MWS/Tool/PcSupportManager/packages
/MWS/Tool/ScanImageData/.vs/ScanImageData/v14
/MWS/Tool/ScanImageData/bin
/MWS/Tool/ScanImageData/obj
/MWS/Tool/ShipManage/.vs/ShipManage/v15
/MWS/Tool/UpdateApplyTypeMatome/.vs/UpdateApplyTypeMatome/v14
/MWS/Tool/UpdateApplyTypeMatome/bin
/MWS/Tool/UpdateApplyTypeMatome/obj/Debug
/MWS/Tool/UpdateApplyTypeMatome/obj/Release
/MWS/_EXE/Debug
/MWS/_EXE
/MWS/_TOOL/Debug
/MWS/_TOOL
/MWS/Tool/CalcBusinessConsignCommission/obj/Release
/MWS/MwsLib/MwsLib.csproj.user
/MWS/Tool/EntryFinishedUser/EntryFinishedUser.csproj.user
/MWS/Tool/PcSupportManager/PcSupportManager.csproj.user
/MWS/Tool/ScanImageData/ScanImageData.csproj.user
/MWS/Tool/ShipManage/ShipManage.csproj.user
/MWS/CommonDialog/PrintPreview/PrintPreview.csproj.vspscc
/MWS/CommonDialog/Progress/Progress.csproj.vspscc
/MWS/Application/MwsSimulation/MwsSimulation.csproj.user
/MWS/Application/MwsSimulation2/MwsSimulation.csproj.user
/MWS/Application/MwsSimulation2/MwsSimulation2.csproj.user
/MWS/Application/DemoUserPaletteES/bin
/MWS/Application/DemoUserPaletteES/obj
/MWS/Application/DemoUserPaletteES/.vs
/.vs/slnx.sqlite
/.vs
/MWS/Application/CheckVoucherPaletteES/.vs/CheckVoucherPaletteES/v16/Server/sqlite3
/MWS/Application/CheckVoucherPaletteES/.vs/CheckVoucherPaletteES/v16
/MWS/Application/CheckVoucherPaletteES/bin
/MWS/Application/CheckVoucherPaletteES/obj
/Web/MwsSimulation
/MVC/AchievementES/bin/Debug/net461
/MVC/AchievementES/obj
/MWS/Application/PrintNouhin/.vs/PrintNouhin/v16
/MWS/Application/PrintNouhin/bin
/MWS/Application/PrintNouhin/Doc/Nouhin.org
/MWS/Application/PrintNouhin/obj
/MWS/CommonDialog/.vs/CommonDialog/v16
/VB
/Web
/MVC
/Excel/見込進捗詳細
/BusinessPlanningWeb
/MWS/Application/CheckOrderSlip/.vs/CheckOrderSlip/v16
/MWS/Application/CheckOrderSlip/bin
/MWS/Application/CheckOrderSlip/obj
/MWS/Application/CheckOrderSlip/packages
/MWS/Application/CheckOrderSlip - コピー
/MWS/Application/CloudDataBankStockDataOutput/.vs/CloudDataBankStockDataOutput/v16
/MWS/Application/CloudDataBankStockDataOutput/bin
/MWS/Application/CloudDataBankStockDataOutput/Doc/CreateTable_M_クラウドデータバンク商品.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/振替データ作成.txt
/MWS/Application/CloudDataBankStockDataOutput/Doc/先月ナルコーム商品売上集計.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/ナルコーム商品仕入データ.txt
/MWS/Application/CloudDataBankStockDataOutput/Doc/ナルコーム商品仕入データ.org
/MWS/Application/CloudDataBankStockDataOutput/Doc/vMicナルコーム商品売上.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/q先月売上伝票.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/q先月ナルコーム商品売上伝票.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/q先月ナルコーム仕入集計.sql
/MWS/Application/CloudDataBankStockDataOutput/obj
/MWS/Etc/MicHoliday/.vs/MicHoliday/v16
/MWS/Etc/MicHoliday/bin
/MWS/Etc/MicHoliday/obj
/MWS/Application/CheckOrderSlip/Doc
/MWS/Application/SoftwareMainteSaleDataOutput
/MWS/Application/CloudDataBankStockDataOutput/Doc/●先月仕入集計.sql
/MWS/Application/CloudDataBankStockDataOutput/Doc/仕入商品マスタ.db
/MWS/Application/CloudDataBankPurchaseOutput/.vs/CloudDataBankPurchaseOutput/v16
/MWS/Application/CloudDataBankPurchaseOutput/bin
/MWS/Application/CloudDataBankPurchaseOutput/Doc
/MWS/Application/CloudDataBankPurchaseOutput/obj
/MWS/Application/PurchaseTransfer/.vs/PurchaseTransfer/v16
/MWS/Application/PurchaseTransfer/bin
/MWS/Application/PurchaseTransfer/obj
/MWS/Application/PurchaseTransfer/packages
/MWS/Application/PurchaseTransfer/仕入振替
/MWS/Application/ShipmentActing/.vs/ShipmentActing/v16
/MWS/Application/ShipmentActing/bin/Debug
/MWS/Application/ShipmentActing/obj/Debug
/MWS/Application/SoftwareMainteEarningsOutput/.vs/SoftwareMainteSaleDataOutput/v16
/MWS/Application/SoftwareMainteEarningsOutput/bin
/MWS/Application/SoftwareMainteEarningsOutput/obj
/MWS/Application/ShipmentActing/出荷代行
/MWS/Application/SoftwareMainteEarningsOutput/●ソフトウェア保守料自動継続処理 - ショートカット.lnk
/MWS/Application/CheckOrderSlip/経理部提供/20200622-Ver100
/MWS/Application/SampleContact/.vs/SampleContact/v16
/MWS/Application/SampleContact/obj/Debug
/MWS/Application/WebJucuFileOutput/.vs/WebJucuFileOutput/v16
/MWS/Application/WebJucuFileOutput/bin/Debug
/MWS/Application/WebJucuFileOutput/obj/Debug
/MWS/Application/WebJucuFileOutput/Web受注汎用データ
/MWS/Application/WebJucuFileOutput/WebJUCU-202006121205.txt
/MWS/Tool/EntryFinishedUser/packages/DocumentFormat.OpenXml.2.7.2
/MWS/Tool/EntryFinishedUser/packages/ExcelNumberFormat.1.0.10
/MWS/Tool/EntryFinishedUser/終了ユーザー管理 - ショートカット.lnk
/MWS/Tool/EntryFinishedUser/packages/ClosedXML.0.95.3
/MWS/Tool/EntryFinishedUser/Doc
/MWS/Application/SampleContact
/MWS/Application/CloudBackupPurchaseOutput/.vs/CloudBackupPurchaseOutput/v16
/MWS/Application/CloudBackupPurchaseOutput/bin
/MWS/Application/CloudBackupPurchaseOutput/obj
/MWS/Application/CloudBackupPurchaseOutput/Doc
