/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/
SELECT GOODS.[GOODS_ID] AS ParentGoodsID
      ,GOODS.[GOODS_NAME] AS GoodsName
      ,GOODS.[PRICE] AS Price
	  ,MCODE.SERVICE_ID AS ServiceCode
	  ,MSERVICE.[SERVICE_NAME] AS ServiceName
  FROM [charlieDB].[dbo].[V_PCA_GOODS] AS GOODS
  LEFT JOIN [charlieDB].[dbo].[M_CODE] AS MCODE
  ON MCODE.GOODS_ID = GOODS.GOODS_ID
  LEFT JOIN [charlieDB].[dbo].[M_SERVICE] AS MSERVICE
  ON MSERVICE.SERVICE_ID = MCODE.SERVICE_ID
  WHERE [BRAND_CLASSIFICATION] = 206
  ORDER BY GOODS.[GOODS_ID] ASC, MCODE.SERVICE_ID ASC