<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="from" value="eigyo_kanri@mic.jp"/>
    <add key="to" value="eigyo_kanri@mic.jp"/>
    <add key="test_to" value="suguro@mic.jp"/>
    <add key="smtp" value="172.16.0.99"/>
    <add key="port" value="25"/>
    <add key="user" value=""/>
    <add key="pass" value=""/>
  </appSettings>
</configuration>
